body {
  background-color: black;
  color: #55af66;
}

h1 {
  background: #303030;
  color: #55af66;
}

a:link {
  color: #0087d7;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
  h1 {
    background: grey;
    color: white;
  }
  a:link {
    color: blue;
  }
}

pre, code {
  color: green;
  font-size: 1.1em;
}

/* vim:sw=2:ts=2:sts=2:et:cc=80
End of file. */
